@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Inter&family=Montserrat:wght@500&family=Open+Sans:ital@0;1&family=Poppins:wght@500&family=Public+Sans:wght@300;400&family=Work+Sans&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 16px !important;
}

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

.navbar-nav {
  margin-left: auto !important;
}

.smallimg {
  height: 200px;
  width: 100% !important;
  border-radius: 5px !important;
}

h1 {
  font-size: 20px !important;
}

.btn {
  background-color: black !important;
  color: white !important;
  box-shadow: none !important;
  border: none !important;
}

.bs {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px !important;
  border-radius: 5px !important;
  padding: 20px !important;
}

.bigimg {
  height: 400px;
}

input, select, .ant-picker  {
  box-shadow: none !important;
  margin-top: 10px;
  border: 1px solid black !important;
  width: 100% !important;
  border-radius: 3px !important;
  height: 35px !important;
}

.ant-picker-input input {
  border: none !important;
}

.landing {
  background-color: black !important;
  height: 100vh;
  width: 100%;
}

.landingbtn {
  background-color: white !important;
  color: black !important;
  margin-top: 20px;
}

.landing .col-md-12 {
  border-right: 5px solid white !important;
}